@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Ensign:Sans";
  @apply bg-white text-zinc-950;
}

h1 {
  font-family: "Ensign:Serif";
  @apply uppercase text-center text-4xl mb-8;
}

.spoiler-button {
  @apply cursor-default flex items-center border-y-slate-500 w-full text-left p-4 hover:bg-zinc-50 transition;
}

.spoiler-contents {
  @apply bg-inherit overflow-hidden;
}

.link-to-chapter {
  @apply border rounded-full w-8 h-8 flex items-center justify-center cursor-pointer border-zinc-300 hover:bg-zinc-300 transition text-xs;
}

.reader {
  font-family: "Ensign:Serif";
  @apply flex flex-col overflow-y-scroll items-center py-16;
}

.verse {
  font-family: "Ensign:Serif";
  max-width: var(--verse-width);
  @apply text-xl p-4 hover:bg-zinc-200/50 rounded-xl transition;
}

.verse sup {
  @apply inline opacity-50 mr-2 hover:underline hover:opacity-100 select-none;
}
