@import "tailwindcss";

html,
body {
  font-family: "Ensign:Sans";
  @apply bg-white text-zinc-950;
}

h1 {
  font-family: "Ensign:Serif";
  @apply uppercase text-center text-4xl mb-8;
}

.spoiler-button {
  @apply cursor-default flex items-center border-y-slate-500 w-full text-left p-4 hover:bg-zinc-50 transition;
}

.spoiler-contents {
  @apply bg-inherit overflow-hidden;
}

.link-to-chapter {
  @apply border rounded-full w-8 h-8 flex items-center justify-center cursor-pointer border-zinc-300 hover:bg-zinc-300 transition text-xs;
}

.reader {
  font-family: "Ensign:Serif";
  @apply flex flex-col overflow-y-scroll items-center py-16;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.verse {
  font-family: "Ensign:Serif";
  max-width: var(--verse-width);
  @apply text-xl p-4 hover:bg-zinc-200/50 rounded-xl transition;
}

.verse sup {
  @apply inline opacity-50 mr-2 hover:underline hover:opacity-100 select-none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
