@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Ensign:Sans";
  @apply bg-slate-950 text-slate-50;
}

h1 {
  font-family: "Ensign:Serif";
  @apply uppercase text-center text-4xl mb-8;
}

.spoiler-button {
  @apply cursor-default flex items-center border-y-slate-500 w-full text-left p-4 hover:bg-slate-50/10 transition;
}

.spoiler-contents {
  @apply bg-slate-950/20 border-slate-500 overflow-hidden;
}

.link-to-chapter {
  @apply border rounded-full w-8 h-8 flex items-center justify-center cursor-pointer border-slate-500 hover:bg-slate-500 transition text-xs;
}

.reader {
  font-family: "Ensign:Serif";
  @apply flex flex-col overflow-y-scroll items-center py-16;
}

.verse {
  font-family: "Ensign:Serif";
  @apply text-xl p-4 hover:bg-slate-800/50 rounded-xl max-w-2xl transition;
}

.verse sup {
  @apply inline opacity-50 mr-2 hover:underline hover:opacity-100 select-none;
}
